# OS files
.DS_Store:

# Config file
titan.yaml

# Test files
server.crt
server.key

# Editors/IDEs
.idea
.vscode
.zed

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/
bin/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
